@model BookFPTStore.Models.ViewClient
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | Book Store</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="~/js/html5shiv.js"></script>
	<script src="~/js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	@await RenderSectionAsync("Css", required:false)
	<style>
		/*.product .productinfo img {
			object-fit: cover;
			height: 300px;
			width: 100%;
		}*/
		.logo img {
			height: 60px;
		}

	</style>
</head><!--/head-->

<body>
	<header id="header">

		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="~/images/book-store-logo.jpg" alt="" /></a>
						</div>
				
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								@if (User.Identity?.IsAuthenticated ?? false)
								{
									<li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-lock"></i> Hi! @User.Identity.Name, Logout</a></li>
									<li><a href="#"><i class="fa fa-crosshairs"></i> Account</a></li>
									<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
									<li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								}
								else
								{
									<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Login</a></li>
								}
						
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">  
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a asp-action="Index" asp-controller ="Home" class="active">Home</a></li>
								<li class="dropdown">
									<a>Shop<i class="fa fa-angle-down"></i></a>	
									<ul role="menu" class="sub-menu">
										<li><a asp-action="Details" asp-controller="Book">Book Details</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Cart</a></li>
										<li><a asp-action ="Login" asp-controller="Account">Login</a></li>
									</ul>
								</li>
								<li class="">
									<a href="#">Category</a>
								</li>
								<li class="">
									<a asp-action="Details" asp-controller="Book">Book Detail</a>
								</li>

								@*<li class="dropdown">
									<a href="#">Author<i class="fa fa-angle-down"></i></a>
									<ul role="menu" class="sub-menu">
							
										@if (Model.Authors != null && Model.Authors.Any())
										{
											foreach (var author in Model.Authors)
											{
												<li><a>@author.Name</a></li>
											}
										}
										else
										{
											<li><a>No categories found.</a></li>
										}
										
									
									</ul>
								</li>*@
							
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search" />
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

	<section>
		<div class="container">
			<div class="row">
				@*@Html.Partial("_NotificationPartical")*@
				@if (TempData["success"] != null)
				{
					<div class="alert alert-success notification">
						@TempData["success"]
					</div>
				}

				@if (TempData["error"] != null)
				{
					<div class="alert alert-danger notification">
						@TempData["error"]
					</div>
				}
		
				@RenderBody()
			</div>
		</div>
	</section>

	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>FPTBook</span>-Store</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="footer-widget">
							<div class="container">
								<div class="row">
									<div class="col-sm-2">
										<div class="single-widget">
											<h2>Service</h2>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="#">Online Help</a></li>
												<li><a href="#">Contact Us</a></li>
												<li><a href="#">Order Status</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="single-widget">
											<h2>Quock Shop</h2>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="#">T-Shirt</a></li>
												<li><a href="#">Mens</a></li>
												<li><a href="#">Womens</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="single-widget">
											<h2>Policies</h2>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="#">Terms of Use</a></li>
												<li><a href="#">Privecy Policy</a></li>
												<li><a href="#">Refund Policy</a></li>					
											</ul>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="single-widget">
											<h2>About Shopper</h2>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="#">Company Information</a></li>
												<li><a href="#">Careers</a></li>
												<li><a href="#">Store Location</a></li>>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2023 BOOK-STORE</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="#">NCT</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>

	@await RenderSectionAsync("Scripts", required:false)
</body>
</html>