@model List<BookFPTStore.Models.AppUserModel>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Manegement</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="row card-header">
            <div class="col-7">
                <h4>List All User</h4>
            </div>
            <div class="col-5">
                <a href="/Account/Create" class="btn btn-primary" style="
                   float: inline-end;">
                    Add New
                </a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var index = 1;
                            }
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@index</td>
                                    <th>@user.UserName</th>
                                    <th>@user.Email</th>
                                    <th>@user.Role,  @(user.Role == 0 ? "Admin" : "User")</th>
                                    <td>
                                        <a asp-action="Edit" asp-controller="User" asp-route-Id="@user.Id"
                                           class="btn btn-warning">
                                            Edit
                                        </a>
                                        <a asp-action="Delete" asp-controller="User" asp-route-Id="@user.Id"
                                           class="btn btn-danger">
                                            Delete
                                        </a>


                                    </td>
                                </tr>
                                index++;
                            }


                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>