@model BookFPTStore.Models.ViewClient
@section Css {
    <style>
        #design .productinfo img {
            height: 320px;
            object-fit: cover;
        }
    </style>
   }
<div class="col-sm-3">
    @Html.Partial("_SidebarPartial")
</div>

<div id="design" class="col-sm-9 padding-right">
    <div class="features_item">
        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>
        @foreach (var item in Model.Books)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="~/media/books/@item.Image" alt="@item.Title" width="100%" />
                            <h2><span>US $</span>@item.Price </h2>

                            <p>@item.Title</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            <a asp-action="Details" asp-controller="Book" asp-route-Id="@item.Id" class="btn btn-default add-to-cart">Detail</a>
                        </div>

                    </div>

                </div>
            </div>
        }
    </div><!--features_items-->
</div>