

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Author Manegement</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="row card-header">
            <div class="col-7">
                <h4>List All Author</h4>
            </div>
            <div class="col-5">
                <a asp-action="Create" asp-controller="Author" class="btn btn-primary" style="
                   float: inline-end;">
                    Add New
                </a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table">
                        
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Tác giả</th>
                                <!-- Thêm các cột khác nếu cần -->
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model)
                            {
                                <tr>
                                    <td>@author.Id</td>
                                    <td>@author.Name</td>
                                    <td>@author.Email</td>
                                    <td>@author.Address</td>
                                    <!-- Thêm các cột khác nếu cần -->
                                    <td>
                                         <a asp-action="Edit" asp-controller="Author" asp-route-Id="@author.Id" class="btn btn-danger">
                                            Edit
                                        </a>
                                        <a asp-action="Delete" asp-controller="Author" asp-route-Id="@author.Id" class="btn btn-danger">
                                            Delete
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
